@font-face {
  font-family: 'MPLUS2Medium';
  src: url('fonts/MPLUS2-Medium.ttf');
}

body {
    font-family: MPLUS2Medium, Georgia;
    margin: 40px auto;
    max-width: 750px;
    text-align: justify;
    padding: 0 15px;
    background-color: #ffffff;
    color: #535353;
}

a {color: #E64626;}
a {text-decoration: none;}

a:link {color: #E64626;}
a:visited {color: #E64626;}
a:hover {color: #E64626; text-decoration: underline;}
a:active {color: #E64626;}

h1 {color: #2c2c2c;}


/*
p {
    margin: auto;
    max-width: 45vw;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

*{
  background-color: #2B2E36;
  color: white;
}

header {
  font-family: 'Medium', sans-serif;
  font-size: 2vh;
  max-width: 60vw;
  margin: auto;
}

body {
  font-family: 'Medium', sans-serif;
  font-size: 2vh;
  max-width: 60vw;
  margin: auto;
}

h1 {
  font-family: 'Medium', sans-serif;
  font-size: 3vh;
}

h2 {
  font-family: 'Thin', sans-serif;
  font-size: 3vh;
}



*/