@font-face {
  font-family: 'Regular';
  src: url('fonts/MPLUS2-Regular.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('fonts/MPLUS2-Bold.ttf');
}

@font-face {
  font-family: 'ExtraBold';
  src: url('fonts/MPLUS2-ExtraBold.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('fonts/MPLUS2-Thin.ttf');
}

@font-face {
  font-family: 'ExtraLight';
  src: url('fonts/MPLUS2-ExtraLight.ttf');
}

body {
  font-family: 'Bold', sans-serif;
}

h1 {
  font-family: 'Extra', sans-serif;
}

h2 {
  font-family: 'ExtraLight', sans-serif;
}

a {
  text-decoration: none;
  text-color: #5D9FFF;
}

body {
  background-color: #2B2E36;
}

a:link {
  color: #5292F7;
}

a:visited {
  color: #6552F7;
}

a:hover {
  color: #5292F7;
  text-decoration: underline;
}

a:active {
  color: #6552F7;
}

*{
  margin: auto;
  width: 90%;
  padding: 2px;
}
