@font-face {
  font-family: 'Bold';
  src: url('fonts/MPLUS2-Bold.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('fonts/MPLUS2-Medium.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('fonts/MPLUS2-Thin.ttf');
}

body {font-family: 'Bold', sans-serif;}
h1 {font-family: 'Medium', sans-serif;}
h2 {
  font-family: 'Thin', sans-serif;
  font-size: 1.5em;
}


a:link {color: #5292F7;}
a:visited {color: #2A81FF;}
a:hover {color: #5292F7; text-decoration: underline;}
a:active {color: #2A81FF;}

body {
  background-color: #2B2E36;
  color: white;
}

div {
  margin-bottom: 1em;
}

*{
  margin: auto;
  width: 90%;
  padding: 2px;
}

