*{
  background-color: #2B2E36;
  color: white;
}

@font-face {
  font-family: 'Medium';
  src: url('fonts/MPLUS2-Medium.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('fonts/MPLUS2-Thin.ttf');
}

p {
  font-family: 'Medium', sans-serif;
  font-size: 2vh;
}

body {
  font-family: 'Medium', sans-serif;
  font-size: 3vh;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: 'Medium', sans-serif;
  font-size: 3vh;
}

h2 {
  font-family: 'Thin', sans-serif;
  font-size: 3vh;
}



a {text-decoration: none;}

a:link {color: #5292F7;}
a:visited {color: #2A81FF;}
a:hover {color: #5292F7; text-decoration: underline;}
a:active {color: #2A81FF;}